.links-window{
    width: 100%;
    height: 100%;
    overflow: scroll;

    padding-block: 0.5rem;
    padding-inline: 0.75rem;

    .heading{
        font-size: 1.5rem;
        color: rgb(13, 255, 0);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    .links{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-bottom: 3rem;
        
        .link{
            width: fit-content;
            text-decoration: none;
            color: rgb(203, 200, 200);
            font-size: 1rem;

            i{
                padding-right: 0.2rem;
            }
        }
    }

}