*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main{
    width: 100%;
    height: 100%;

    background-image: url(../public/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

    overflow: hidden;
}

body{
    background-color: black;
}